body{
  background-image: url(background2.jpeg);
  background-repeat: repeat;
}
.header-img {
  width: 40%;
  height: 250px;
  background: url('cheechzimg.jpeg');
  background-size: cover;
  margin-left: 380px;
  border-radius: 25px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #9c7c38 40%, #f7e98e)
}
li{
  display: block;
  float: left;
  text-align: center;
  color: black;
  padding: 14px 16px;
  background-color: #9c7c38;
  margin-left: 10px;
}
li a:hover{
  background-color: black;
}
img{
  height: 200px;
  width: auto;
  border-radius: 25px;
}
.columns{
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-left: 300px;
  color: black;
  margin-top: 50px;
}
.pep{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
  background: linear-gradient(black 40%, #9c7c38 );
}
.chz{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
  background: linear-gradient(black 40%, #9c7c38);
}
.veggie{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
  background: linear-gradient(black 40%, #9c7c38);
}
.deep{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 0px;
  order: 2;
  background: linear-gradient(black 40%, #9c7c38);
}
.meat{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
  background: linear-gradient(black 40%, #9c7c38);
}
.hawaii{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px 0 20px;
  background: linear-gradient(black 40%, #9c7c38);
}
.container{
  display: flex;
  margin-top: 50px;
  background: linear-gradient(black 40%, #9c7c38);
}
.column1{
  width:600px;
  margin-left: 50px;
  margin-top: 50px;
  color: white;
}

footer{
  color: #9c7c38;
  text-align: center;
  margin-top: 50px;
  background-color: black;
}
